<div class="container-fluid">
  <img class="imgBack" src="/assets/images/header_pagecontact1.jpg" alt=""/>
</div>
<div class="container">
  <div class="wrapping__header__home">
    <h2><a href="">Giới thiệu HoShoe</a></h2>
  </div>
  <div class="imgAbout">
    <img src="/assets/images/store-nike.jpg" alt="">
  </div>
  <div class="contentAbout">
    <p><strong>Hushoe</strong> là công ty được thành lập vào năm 2021 với mục đích ban đầu 
      là để mở ra một thị trường mua sắp giày thể thao hướng tới mọi đối tượng, đặc biệt là các bạn trẻ. Các sản phẩm
    của HoShoe bán ra phải đảm bảo những tiêu chuẩn về chất lượng để đảm bảo người sử dụng có được những trải nghiệm tốt nhất và
    có những phản hồi tích cực.
    </p>
    <p>Thị trường đầu tiên mà HoShoe đang gây dựng đó ở tại Việt Nam, với cửa hàng đầu tiên mở TP.HCM. Kế hoạch tương lai của 
        công ty là sẽ mở chi nhánh trên khắp các tỉnh thành của đất nước. Và xa hơn là tiến ra thị trường quốc tế. Hiện nay, Hoshoe
      đã và đang hợp tác với rất nhiều hãng giày nổi tiếng thế giới như Nike, Adidas,... và được bán với mức giá được xem
      là bình ổn nhất hiện nay.</p>
  </div>
</div>
