<div class="container">
  <div class="row">
     <div class="col-lg-6 col-md-12">
      <form (ngSubmit)="onSaveUser(profileForm.value)" [formGroup]="profileForm">
        <div>
          <div class="form-group">
            <label for="displayName">User Name</label>
            <input type="text" 
                   #displayName
                   id="displayName" 
                   class="form-control"
                   formControlName="displayName">
<!--             <span
            *ngIf="!productForm.get('productname').valid && productForm.get('productname').touched"
            class="help-block text-danger">Tên sản phẩm không được để trống</span> -->
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" 
                   #email
                   id="email" 
                   class="form-control"
                   formControlName="email">
<!--             <span
            *ngIf="!productForm.get('desc').valid && productForm.get('desc').touched"
            class="help-block text-danger">Mô tả không được để trống</span> -->
          </div>
        </div>
        <button [disabled]="!profileForm.valid" class="btn btn-primary" type="submit">Save</button>
      </form>
     </div>
  </div>
</div>